/* Logo container dimensions */
.logo-container{
    height:90px;
    width:90px;
    margin-left: 120px;

}
/* fonts for the whole body */
body{
    font-family: 'Roboto', sans-serif;
    
}
/* font styling for about section */
#about h2{
    font-family: 'Silkscreen', serif;
    font-size: 60px;
}
#about h3{ 
    font-family: 'Silkscreen', serif;
    font-size: 30px;
}
/* h3 styling for the whole page  */
h3{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}




/* Carousell section */
.container > div:nth-of-type(4) {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
    
}
/* About section */
.container > div:nth-of-type(5) {
    grid-column: 1 / 7;
    grid-row: 4 / 5;
    
}
/* Connect section */
.container > div:nth-of-type(6) {
    grid-column: 1 / 7;
    grid-row: 5 / 6;
    
}



/* Carousel */
.carousel-container{

    height: 500px;
    padding: 20px;
    background-color: black;
    
}

.carousel-container img{
    height: 100%;
    margin-left: 20%;
    margin-left: 20%;
    box-shadow: 5px 5px 5px;

    
}

/* About Us */
.about-container{
    height: auto;
    background-color: black;
    margin-top: -90px;
    color: white;
    
}
#about{
    text-align: center;
    margin-top: 50px;
    padding: 60px;
    line-height: 40px;
}

/* connect */
.connect-container{
    background-color: black;
    color: white;
    height: 300px;
    margin-top: -10px;
}
/* connect work styling  */
#connect{
    text-align: center;
    font-family: 'Silkscreen', serif;
    font-size: 60px;
}
/* COnnect link styling */
#connect a{
    
    font-size: 20px;
}



/* MEDIA QUERIES */
@media screen and (max-width: 880px){
    .image img{
        width: auto;
        height: 100%;
    }
    .logo-container {
        margin: 0;
        width: 100%;
    }
    .logo-container  img{
        justify-items: center;
    }
    /* container display for smaller screens */
    .container{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        margin: 20px;
        width: 100%;
    }
    .carousel-container{
        display: none;
    }
    .about-container{
        margin-top: 0;
    }

}