/* font family for the whole body */
body{
    font-family: 'Roboto', sans-serif;
    
}
/* all h2 styling  */
h2{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
/* all h3 styling */
h3{
    font-family: 'Playfair Display', serif;
    font-size:20px;
    text-align: start;
}
/* all em styling */
em{
    font-size: 20px;
    color: red;
}


/* Trending Grid */
.container > div:nth-of-type(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;  
    
}
/* Breaking Grid */
.container > div:nth-of-type(5) {
    grid-column: 2 / 6;
    grid-row: 3 / 5;  
}
/* Sidebar Grid */
.container > div:nth-of-type(6) {
    grid-column: 6 / 7;
    grid-row: 3 / 5;  
}
/* Divider */
.container > div:nth-child(7){
    grid-column: 1 / 7;
    grid-row: 5 /6;
}
/* Row 2 left news */
.container > div:nth-child(8){
    grid-column: 1 / 4;
    grid-row: 6 /7;
}

/* Row 2 right news */
.container > div:nth-child(9){
    grid-column: 4 / 7;
    grid-row: 6 /7;
}
/* Divider */
.container > div:nth-child(10){
    grid-column: 1 / 7;
    grid-row: 7 /8;
}
/* Video */
.container > div:nth-child(11){
    grid-column: 1 / 7;
    grid-row: 8 /9;
    color: red;
}





/* Trending */
.trending-container{
    display: flex;
    border-right: 1px black solid;
    height: auto;
    width:350px;
    padding: 10px;
}
#trending h2{
    border-bottom: 2px black dotted;
    padding-bottom: 20px;

    margin-bottom: 20px;
}
.trending-container .image{
    position: relative;
}
#trending img{
    display: block;
    width: 100%;
}
#trending div:nth-child(2){
    padding: 5px;
    margin-bottom: 40px;
    
}
#trending div:nth-child(3){
    line-height: 25px;
}
/* start of image hover animation  */
.trending-container .image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'vanityfair';
    display: flex;
    align-items: center;
    justify-content:center;
    opacity: 0;
    transition: opacity 0.25s;
}
.trending-container .image-overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.trending-container .image-overlay:hover > * {
    transform: translateY(0);
}
.trending-container .image-overlay:hover{
    opacity: 1;
}
.trending-container .image-title{
    font-size: 2em;
    font-weight: bold;
}
/* end of image overlay animation */


/* Breaking */
.breaking-container{
    display: flex;
    border-right: 1px black solid;
    height: auto;
    width:100%;
    padding: 10px;
}
#breaking h2{
    border-bottom: 2px black dotted;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#breaking img{
    max-width: 700px;
    width: 100%;

}
#breaking div:nth-child(2){
    padding: 5px;
    margin-bottom: 40px;
}
.breaking-container .image{
    position: relative;
}
#breaking img{
    display: block;
    width: 100%;
}
#breaking div:nth-child(2){
    padding: 5px;
    margin-bottom: 10px;
}
#breaking div:nth-child(3){
    line-height: 25px;
}
/* start of image overlay animation  */
.breaking-container .image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'vanityfair';
    display: flex;
    align-items: center;
    justify-content:center;
    opacity: 0;
    transition: opacity 0.25s;
}
.breaking-container .image-overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.breaking-container .image-overlay:hover > * {
    transform: translateY(0);
}
.breaking-container .image-overlay:hover{
    opacity: 1;
}
.breaking-container .image-title{
    font-size: 2em;
    font-weight: bold;
}
/* end of image overlay animation */


/* Sidebar */
.sidebar-container{
    display: flex;
    height:auto;
    width:350px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10px;

}
.sidebar-container > div{
    font-size: 22px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.sidebar-container > div:last-child{
    border: 0;
}
.sidebar-container a:hover{
    text-decoration: none;
    color: red;
}



/* Divider */
.divider{
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 30px;
    font-family: 'Playfair Display', serif;

}

/* Row 2 Left News */
.row2-left-news-container{
    
    display: flex;
    flex-direction: column;
    border-right: 2px black solid;
    width: auto;
    height:100%;
    padding: 10px;
    
}
#row2-left-news h2{
    border-bottom: 2px black dotted;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.row2-left-news-container .image{
    position: relative;
}
#row2-left-news img{
    display: block;
    width: 100%;
}
#row2-left-news div:nth-child(2){
    padding: 5px;
    margin-bottom: 40px;
}
#row2-left-news div:nth-child(3){
    line-height: 25px;

}
/* start of image over animation  */
.row2-left-news-container .image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'vanityfair';
    display: flex;
    align-items: center;
    justify-content:center;
    opacity: 0;
    transition: opacity 0.25s;
}
.row2-left-news-container .image-overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.row2-left-news-container .image-overlay:hover > * {
    transform: translateY(0);
}
.row2-left-news-container .image-overlay:hover{
    opacity: 1;
}
.row2-left-news-container .image-title{
    font-size: 2em;
    font-weight: bold;
}
/* end of image over animation  */


/* Row 2 Right News */
.row2-right-news-container{
    
    display: flex;
    flex-direction: column;
    border-right: 2px black solid;
    width: auto;
    height:100%;
    padding: 10px;
}
#row2-right-news h2{
    border-bottom: 2px black dotted;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.row2-right-news-container .image{
    position: relative;
}
#row2-right-news img{
    display: block;
    width: 100%;
}
#row2-right-news div:nth-child(2){
    padding: 5px;
    margin-bottom: 40px;
}
#row2-right-news div:nth-child(3){
    line-height: 25px;

}
/* start of image over animation  */

.row2-right-news-container .image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'vanityfair';
    display: flex;
    align-items: center;
    justify-content:center;
    opacity: 0;
    transition: opacity 0.25s;
}
.row2-right-news-container .image-overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.row2-right-news-container .image-overlay:hover > * {
    transform: translateY(0);
}
.row2-right-news-container .image-overlay:hover{
    opacity: 1;
}
.row2-right-news-container .image-title{
    font-size: 2em;
    font-weight: bold;
}
/* end of image over animation  */


/* Videos section */
.videos-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    
}
.video{
    height: auto;
    width: 100%;
    margin: 5px;
    box-shadow: 2px 2px;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 5px;

}

/* MEDIA QUERIES */
@media screen and (max-width: 880px){
    .container{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        margin: 20px;
        width: 100%;
    }

    /* Videos */
    .videos-container{
        flex-direction: column;
    }

    /* Trending Grid */
.container > div:nth-of-type(4) {
    grid-column: 1/7 ;
    grid-row: 3/4;  
   width: 100%;
   justify-self: center;
   margin-bottom: 30px;
   padding-bottom: 30px;
   border-bottom: 2px black solid;
}
/* Breaking Grid */
.container > div:nth-of-type(5) {
    grid-column: 1/7;
    grid-row: 4/5;  
   width: 100%;
   justify-self: center;
   margin-bottom: 30px;
   padding-bottom: 30px;
   border-bottom: 2px black solid;


}
/* Sidebar Grid */
.container > div:nth-of-type(6) {
    grid-column: 1/7;
    grid-row: 5/6;  
    flex-direction: column;
    text-align: center;
    justify-self: center;
   margin-bottom: 30px;
   height:auto;
   width: 100%;
   

}

/* Divider */
.container > div:nth-child(7){
    grid-column: 1/7;
    grid-row: 7/8;
    text-align: center;
    justify-self: center;
}
}











/* MEDIA QUERIES */
@media screen and (max-width: 500px){
    
    .container{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        width: 100%;
    }

    /* Videos */
    .videos-container{
        flex-direction: column;
    }
    .video  iframe{
        width: 300px;
    }

    /* Trending Grid */
.container > div:nth-of-type(4) {
    grid-column: 1/7 ;
    grid-row: 3/4;  
   width: 100%;
   justify-self: center;
   margin-bottom: 30px;
   padding-bottom: 30px;
   border-bottom: 2px black solid;
}
/* Breaking Grid */
.container > div:nth-of-type(5) {
    grid-column: 1/7;
    grid-row: 4/5;  
   width: 100%;
   justify-self: center;
   margin-bottom: 30px;
   padding-bottom: 30px;
   border-bottom: 2px black solid;


}
/* Sidebar Grid */
.container > div:nth-of-type(6) {
    grid-column: 1/7;
    grid-row: 5/6;  
    flex-direction: column;
    text-align: center;
    justify-self: center;
   margin-bottom: 30px;
   height:auto;
   width: 100%;
   

}

/* Divider */
.container > div:nth-child(7){
    grid-column: 1/7;
    grid-row: 7/8;
    text-align: center;
    justify-self: center;
}
}