/* section for first chart */
.container > div:nth-of-type(4) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin-left: 5px;
    margin-right: 5px;
}
/* sectionn for second chart */
.container > div:nth-of-type(5) {
    grid-column: 4 / 7;
    grid-row: 3 / 4;
    margin-left: 5px;
    margin-right: 5px;
}
/* section for thrid chart */
.container > div:nth-of-type(6) {
    grid-column: 1 / 7;
    grid-row: 4 / 5;
    margin-left: 5px;
    margin-right: 5px;
}
/* logo styling */
.logo-container{
    height:90px;
    width:90px;
    margin-left: 120px;

}
/* Chart 1 */
.chart1-container{
    display: flex;
    flex-direction: column;
    margin:20px;
    padding: 20px;
    width: 100%;
    text-align: center;
    justify-self: center;
    align-self: auto;
    height: 500px;
    max-width: 700px;
}
#chart1{
    border: black 1px solid;
    max-width: 700px;
    box-shadow: 7px 7px;

}
#button1{
    margin-top: 5px;
    border:1px black solid;
    height: 30px;
    width: 100px;
    margin: 10px;
    align-self: center;
    
}
#button2{
    margin-top: 5px;
    border:1px black solid;
    height: 30px;
    width: 100px;
    margin: 10px;
    align-self: center;
}

/* Chart 2 */
.chart2-container{
    display: block;
    margin:20px;
    padding: 20px;
    width: 500px;
    justify-self: center;
    height: 500px;
    max-width: 700px;
    width: 100%;

}

#chart2{
    border: black 1px solid;
    max-width: 700px;
    box-shadow: 7px 7px;
    align-self: center;


}

.chart3-container{
    display: block;
    margin:20px;
    width: 100%;
    justify-self: center;
    height: 400px;
    padding: 20px;

}

#chart3{
    border: black 1px solid;
    box-shadow: 7px 7px;
    align-self: center;


}
/* media queries */
@media screen and (max-width: 850px) {
    .container{
        display: block;
        grid-template-columns: 1fr;
        margin: 10px;
        width: 100%;
    }
    .container > div:nth-of-type(4) {
        grid-column: 1;
        grid-row: 3;
    }
    .container > div:nth-of-type(5) {
        grid-column: 1;
        grid-row: 4;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;

    }
    .container > div:nth-of-type(6) {
        grid-column: 1;
        grid-row: 5;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;

    }
    .chart1-container{
        text-align: center;
        height: 500px;
        padding-left: 0;
        margin: 60px;
    }
    .chart2-container{
        text-align: center;
        height: auto;
        padding-left: 0;

    }
    .chart3-container{
        text-align: center;
        height: 500px;
        padding-left: 0;

    }
    .logo-container {
        margin: 0;
        width: 100%;
    }
    .logo-container  img{
        justify-items: center;
    }
   
}